<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collection.name %>
</p>

<p>
  <strong>Repetition:</strong>
  <%= @collection.rep %>
</p>


<p>  
  <%= link_to 'New Question', new_question_path %>
</p>

<hr>

<% @collection.questions.each do |question| %>
  <p>
    <strong>Frage:</strong>
    <%= question.content %>
  </p>
  <p>
    <%= link_to 'Show', question %>
    <%= link_to 'Edit', edit_question_path(question) %>
    <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>  

<% end %>  

<hr>

<p>  
  <%= link_to 'New Question', new_question_path %>
</p>

<p>
  <%= link_to 'Back to Collections', collections_path %>
</p>  
