<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @result.user_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @result.question_id %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @result.collection_id %>
</p>

<p>
  <strong>Points:</strong>
  <%= @result.points %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
